.header {
  display: flex;
  justify-content: space-between;
  margin: 28px 0 0;
}

@media (max-width: 1279px) {
  .header {
    margin: 28px 48px 0;
  }
}

@media (max-width: 767px) {
  .header {
    margin: 16px 24px 0;
  }
}

@media (max-width: 424px) {
  .header {
    margin: 16px 16px 0;
  }
}
