.footer__link {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  transition: .3s;
}
 .footer__link:hover {
  opacity: 0.8;
 }


@media (max-width: 767px) {
  .footer__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
  }
}
