.cover__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 740px;
  background: rgba(42, 44, 47, 0.3);
  transition: .3s;
  }

  @media (max-width: 1279px) {
    .cover__overlay {
      min-height: calc(100vw / 1.6);
    }
  }
  
  @media (max-width: 1023px) {
    .cover__overlay {
      min-height: calc(100vw / 1.6);
    }
  }

  .cover__overlay:hover {
    background: rgba(42, 44, 47, 0.8);
  }